.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: var(--color-red);

    .footer__black{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 100%;
        background-color: black;
    }

    .footer__circle{
        position: absolute;
        width: 70px;
        aspect-ratio: 1;
        background-color: black;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        .footer__circle--int{
            width: 60%;
            height: 60%;
            background: black;
            border: 8px solid white;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translateX(-50%);
            transform: translateY(-50%);
            border-radius: 50%;
        }
    }
}